%html
  %head
    %title Dashboard
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"assets/plugins/jquery-ui/jquery-ui.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/timepicker/jquery.timepicker.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/image-dd/css/msdropdown/dd.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/datatables/datatables.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body.home
    %header.container-fluid
      .row.space-0
        .col-sm-2
          %a.logo{href:"/"}
            %img.img-responsive{src:"assets/images/logo-sofitel.png"}
        .col-sm-6
          -# %form.navbar-form
          -#   .form-group
          -#     %input.form-control{type:"text", placeholder:"Search..."}
        .col-sm-3.col-sm-offset-1
          %a.logo-sub{href:"/"}
            %img{src:"assets/images/sol.png"}
            %span 
              %strong Sofitel Singapore Resort
              Carrina Yang
    
    #main
      %aside#sidebar
        %ul.main-menu
          %li.active
            %a{href:"#"}
              %i.icon.icon-gift
              ALL EVENTS
          %li
            %a{href:"#"}
              %i.icon.icon-bed
              ALL GROUP RES.
          %li
            %a{href:"#"}
              %i.icon.icon-people
              EVENT PLANNERS
          %li.sub-menu.toggled
            %a{href:"#"}
              %i.icon.icon-briefcase
              HOTEL SETTINGS
            %ul.child-menu
              %li
                %a{href:"#"} Hotel Information
              %li
                %a{href:"#"} Facilities
              %li
                %a{href:"#"} Accommodation
              %li
                %a{href:"#"} Reservation Setup
          %li.sub-menu.toggled
            %a{href:"#"}
              %i.icon.icon-chart
              REPORTS
            %ul.child-menu
              %li
                %a{href:"#"} Events Report
              %li
                %a{href:"#"} Attendees Report
              %li
                %a{href:"#"} Conversion Report
              %li
                %a{href:"#"} Email Campaigns
      
      %section#content
        .container-fluid
          %ul.breadcrumb
            %li
              %a{href: "#"} All Bookings
            %li
              %a{href: "#"} Tech in Asia Singapore 2017
            %li
              %a{href: "#"} Reports
            %li.active All Events
          
          .content-header
            .heading 
              %h2 All Events

            -# %div
            -#   %a.btn.btn-info Add New Block
            -# %select.nice-select
            -#   %option Filter by status
            -# .form-group
            -#     %i.icon.icon-nput.form-control{type:"text", placeholder:"Search event reference/name..."}
            -# .count-e-page
            -#   Display 
            -#   %select.nice-select
            -#     %option 10
            -#   per page

            %div
              %table.table.table-striped#tblAllEvents
                %thead
                  %tr
                    %th Date Added
                    %th Acc. Holder
                    %th Event Ref.
                    %th Event Name
                    %th Contracted Start
                    %th Company
                    %th Customer
                    %th Reg
                    %th Status


%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-ui/jquery-ui.min.js", type:"text/javascript"}
%script{src:"assets/plugins/timepicker/jquery.timepicker.min.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/plugins/image-dd/js/msdropdown/jquery.dd.min.js", type:"text/javascript"}
%script{src:"assets/plugins/datatables/datatables.min.js", type:"text/javascript"}
%script{src:"assets/js/sofitel.js", type:"text/javascript"}
