%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body.home
    %header.container-fluid
      .row.space-0
        .col-sm-2
          %a.logo{href:"/"}
            %img.img-responsive{src:"assets/images/logo-sofitel.png"}
        .col-sm-6
          -# %form.navbar-form
          -#   .form-group
          -#     %input.form-control{type:"text", placeholder:"Search..."}
        .col-sm-3.col-sm-offset-1
          %a.logo-sub{href:"/"}
            %img{src:"assets/images/sol.png"}
            %span 
              %strong Sofitel Singapore Resort
              Carrina Yang
    %section
      .container
        .heading
          %h2 Create New Block
          %a{href:"/"} Cancel and Go back
        .step-group
          %ul
            %li.active
              %a.btn{href:"#"} Enter Block Details
            %li
              %a.btn{href:"#"} Preview Details
            %li
              %a.btn{href:"#"} Preview Message
        .panel-group.panel-trans-body#accordion{aria-multiselectable:"false"}
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{href:"#collapseOne",data-toggle:"collapse",data-parent:"#accordion",aria-expanded:"true"}
                  Create Event
                .nice-check-item
                  %input.nice-check.nice-check-sm#ckbNoEvent{type:"checkbox", name:""}
                  %label{for:"ckbNoEvent"}.font-13 No Event
            .panel-collapse.collapse.in#collapseOne
              .panel-body
                .create-event
                  %form.form-horizontal
                    .form-group
                      %label.col-sm-3.col-sm-offset-2.control-label.required-pre Required Field
                    .form-group
                      %label.col-sm-2.control-label.required Account Holder
                      .col-sm-6
                        %input.form-control{placeholder:"Enter Name or Code"}
                    .form-group
                      %label.col-sm-2.control-label.required Event Reference
                      .col-sm-6
                        %input.form-control{placeholder:"e.g Booking/Block ID, Event Name"}
                    .form-group
                      %label.col-sm-2.control-label Event Name
                      .col-sm-6
                        %input.form-control{placeholder:""}
                    .form-group
                      %label.col-sm-2.control-label.required Event Type
                      .col-sm-6
                        %select.nice-select
                          %option{selected:"selected",disabled:"disabled"} Select Event Type
                          %option Event Type 1
                          %option Event Type 2
                    .form-group
                      %label.col-sm-2.control-label.required No. of Participants
                      .col-sm-2
                        %input.form-control{placeholder:""}

                    .form-group.event-dates-item
                      %label.col-sm-2.control-label.required Event Dates
                      .col-sm-2
                        %input.form-control{placeholder:""}
                      %label.col-sm-1.control-label.text-right From
                      .col-sm-2
                        %input.form-control{placeholder:""}
                      %label.col-sm-1.control-label.text-center to
                      .col-sm-2
                        %input.form-control{placeholder:""}
                    .form-group
                      .col-sm-3.col-sm-offset-2
                        %a{href:"#"} + Add Another Date
                    .form-group.mt-40
                      .col-sm-2.col-sm-offset-2
                        %a.btn.btn-info.btn-block{href:"#collapseTwo",data-toggle:"collapse",data-parent:"#accordion"} Continue

          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.collapsed{href:"#collapseTwo",data-toggle:"collapse",data-parent:"#accordion",aria-expanded:"false"}
                  Create Room Block
                .nice-check-item
                  %input.nice-check.nice-check-sm#ckbNoRoomBlock{type:"checkbox", name:""}
                  %label{for:"ckbNoRoomBlock"}.font-13 No Room Block
            .panel-collapse.collapse#collapseTwo
              .panel-body

          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.collapsed{href:"#collapseThree",data-toggle:"collapse",data-parent:"#accordion",aria-expanded:"false"}
                  Assign Customer
            .panel-collapse.collapse#collapseThree
              .panel-body


    -# %section#main
    -#   %aside#sidebar
    -#     .sidebar
    -#       %ul.main-menu
    -#         %li.sub-menu.active
    -#           %a{href:"#"}
    -#             %i 
    -#             ALL EVENTS
    -#         %li.sub-menu
    -#           %a{href:"#"}
    -#             %i 
    -#             ALL GROUP RES.
    -#         %li.sub-menu
    -#           %a{href:"#"}
    -#             %i 
    -#             EVENT PLANNERS
    -#         %li.sub-menu.toggled
    -#           %a{href:"#"}
    -#             %i 
    -#             HOTEL SETTINGS
    -#           %ul.child-menu
    -#             %li
    -#               %a Hotel Information
    -#             %li
    -#               %a Facilities
    -#             %li
    -#               %a Accommodation
    -#             %li
    -#               %a Reservation Setup
    -#         %li.sub-menu.toggled
    -#           %a{href:"#"}
    -#             %i 
    -#             REPORTS
    -#           %ul.child-menu
    -#             %li
    -#               %a Events Report
    -#             %li
    -#               %a Attendees Report
    -#             %li
    -#               %a Conversion Report
    -#             %li
    -#               %a Email Campaigns
    -#   %section#content
    -#     .content-header
    -#       %h1 All Events
    -#       %a.btn.btn-info Add New Block
    -#       %select.nice-select
    -#         %option Filter by status
    -#       .form-group
    -#           %input.form-control{type:"text", placeholder:"Search event reference/name..."}
    -#       .count-e-page
    -#         Display 
    -#         %select.nice-select
    -#           %option 10
    -#         per page


%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/script.js", type:"text/javascript"}
