%html
  %body
    <!--[if mso]>
    <style type="text/css"> body, table, td { font-family: Helvetica, sans-serif; } .pd20 {padding: 20px; } 
    </style>
    <![endif]-->
    
    %center
      %div._main-div{style:"width:640px"}
        %table{cellpadding: 30}
          %tr
            %td{width:"640", style:"width: 639px; margin: 0 auto; border: 1px solid #e0e0e0; font-family: 'Helvetica'; font-size: 14px; line-height: 22px;background-color:#E9F5FF;"}
              %table{cellpadding: 30,style:"line-height: 22px;"}
                %tr
                  %td{style:"background-color: #FFF"}

                    %img{src:"http://stg-vn01.kyanon.digital/demo/idemres-dashboard/assets/images/logo-sofitel-sing.png"}
                    
                    %div{style:"font-size: 16px;"}
                      %br
                      %p Hi Sarah,
                      %p You have been invited by&nbsp;
                        %strong carrina-yang@sofitel.com
                        &nbsp;to collaborate on IdemEvents.
                      %br
                      %p{style:"font-size:12px;color:#777"} Message from Carrina Yang:
                    
                    %table{cellpadding:20, style:"background-color:#F5F5F5; width: 100%;font-size:16px;line-height: 22px;"}
                      %tr
                        %td
                          %p Dear Sarah,
                          %p Below is access to our Event & Group Reservations System which will help you simplify your event management and group reservations process.
                          %p Click the “Let’s Get Started” button to login to your planner dashboard, from there you can create event websites, online registration & group reservation forms.
                          %p It’s simple, really quite fun and free. These systems will save you time and provide terrific visibility into your event or group reservations data.
                          %p Regards,
                          %p Carrina
                              
                    %br
                    %div
                      %table{style:"font-size: 14px; line-height: 24px;"}
                        %tr
                          %td{style:"padding-right: 30px;"} Event Start Date:
                          %td 12 Jun 2017
                        %tr
                          %td{style:"padding-right: 30px;"} Event Type:
                          %td Dinner and Dance
                        %tr
                          %td{style:"padding-right: 30px;"} Room Contracted Days:
                          %td 12 Jun 2017 - 16 Jun 2017
                    
                    %br
                    %div
                      %center
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="10%" stroke="f" fillcolor="#0095FF"><w:anchorlock/><center>
                            <![endif]-->
                        %a{style:"padding: 12px 20px; width:200px; background-color:#0095FF; border-radius: 5px; font-size: 15px; color: #fff; display: inline-block; text-decoration: none", href:"#"}
                          %b
                            Let's Get Started
                        <!--[if mso]></center></v:roundrect><![endif]-->
                        
                    %br
                    %p{style:"font-size:12px; color: #777"}
                      If the button does not display properly, please click on this link:&nbsp;
                      %a{href:"http://idemevents.com/event-name-and-event-date-code-etc",style:"color:#1083FF"}
                        idemevents.com/event-name-and-event-date-code-etc

              %br
              %div
                %center
                  %img{src:"http://stg-vn01.kyanon.digital/demo/idemres-dashboard/assets/images/logo-idemevents.png"}
                  %br
                  %br
                  %div{style:"font-size:11px; color: #777; line-height: 14px"}
                    %div
                      %b
                        Copyright 2017 Idem Labs, All Rights Reserved.
                    %div You received this email at christina-tang@hotmail.com because you have made a reservation on IdemEvents.
                    
    <!--[if mso]>
      
    <![endif]--> 
