/// <reference path="../globals/_scut.scss" />
/// <reference path="../globals/_variables.scss" />
*
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
	font-family: $font-roboto
	color: #333
	font-size: 13px

#main
	padding-top: $navHeight

h1, h2, h3, h4, h5, h6
  font-weight: 400

table
  font-size: 13px

section
	padding: 30px 0

.heading
	margin-bottom: 30px
	h2,
	a
		display: inline-block
		vertical-align: middle
	h2
		font-weight: 400
		font-size: 20px
		margin: 0
	a
		float: right
	
.row
	&.space-10
		@include setRowSpace(10)
	&.space-20
		@include setRowSpace(20)

.img-responsive
	width: 100%

.hide-md
	display: none

.text-center
	text-align: center

.text-right
	text-align: right

.text-gray
	color: $gray
.text-default
  color: $color-default

.tag
	display: inline-block
	border-radius: 3px
	background-color: transparent
	border: 1px solid transparent
	font-size: 11px
	padding: 1px 5px
	text-transform: uppercase
	&.tag-default
		border-color: $color-default
		color: $color-default
	&.tag-success
		border-color: $color-success
		color: $color-success
	&.tag-warning
		border-color: $color-warning
		color: $color-warning

small
  font-size: 11px
  color: $color-default

// Panel 
.panel-group .panel
	border-radius: 0
	@include prefix(box-shadow, none)

.panel-transparent
	border: 1px solid $light-gray
	.panel-heading
		border-bottom: 1px solid $light-gray
		padding: 16px 15px
		h4
			margin: 0
			color: $color-default

.nice-select .list
	max-height: 300px
	overflow: auto

#main
  position: relative

#sidebar

@include respondTo(tabletPortrait)
	body
		font-size: 13px
	.hide-md
		display: block
	.hide-sm
		display: none
	
