@charset "UTF-8";
/* $smartphone: 480px */
/* $tabletPortrait: 767px */
/* $tabletLandscape: 1023px */
/* $xsDesktop: 1100px */
/* $smDesktop: 1200px */
/* $mdDesktop: 1280px */
/* // $desktop: 1174px */
/* $largeScreen: 1440px */
/* $hdScreen: 1799px */
/*
 * @include triangle within a pseudo element and add positioning properties (ie. top, left)
 * $direction: up, down, left, right
 */
/*
	$xlg-fonts: (
		null: 120px,
		$mdDesktop: 100px,
		$smDesktop: 90px,
		$xsDesktop: 80px,
		$largeScreen: 160px
	)

	$lg-fonts: (
		null: 51px,
		$mdDesktop: 45px,
		$xsDesktop: 40px,
		$largeScreen: 72px
	)

	$md-fonts: (
		null: 40px,
		$mdDesktop: 35px,
		$xsDesktop: 28px,
		$largeScreen: 60px
	)

	$sm-fonts: (
		null: 26px,
		$mdDesktop: 22px,
		$xsDesktop: 19px,
		$largeScreen: 40px
	)

	$xs-fonts: (
		null: 17px,
		$mdDesktop: 15px,
		$xsDesktop: 14px,
		$largeScreen: 24px
	)

	$content-fonts: (
		null: 14px,
		$mdDesktop: 13px,
		$xsDesktop: 11px,
		$largeScreen: 16px
	)
 */
/* Render Helping classes */
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-55 {
  margin-left: 55px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-65 {
  margin-left: 65px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-75 {
  margin-left: 75px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-85 {
  margin-left: 85px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-95 {
  margin-left: 95px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-100 {
  padding-left: 100px !important; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.vertical-center, #sidebar .main-menu .icon, .panel-trans-body > .panel > .panel-heading > .panel-title > a:after,
.horizontal-center {
  position: absolute; }

.vertical-center, #sidebar .main-menu .icon, .panel-trans-body > .panel > .panel-heading > .panel-title > a:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-center {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.iframe-container {
  position: relative; }
  .iframe-container:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .iframe-container > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

.d-tbl {
  display: table;
  width: 100%;
  height: 100%; }
  .d-tbl .d-tbl-cell {
    display: table-cell;
    vertical-align: middle; }

/* Base for label styling */
.nice-check:checked, .nice-check:not(:checked) {
  position: absolute;
  left: -9999px; }
  .nice-check:checked + label, .nice-check:not(:checked) + label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-weight: 100;
    min-height: 30px;
    line-height: 30px; }
    .nice-check:checked + label:before, .nice-check:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #0095FF;
      background: #fff;
      border-radius: 50%; }
    .nice-check:checked + label:after, .nice-check:not(:checked) + label:after {
      content: '✔';
      position: absolute;
      top: 0;
      left: 9px;
      line-height: 30px;
      font-size: 14px;
      color: #0095FF;
      transition: all .1s;
      font-weight: 600; }

.nice-check:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.nice-check:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.nice-check:focus {
  outline: none !important; }

.nice-check:disabled:not(:checked) + label:before,
.nice-check:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

.nice-check:disabled:checked + label:after {
  color: #999; }

.nice-check:disabled + label {
  color: #aaa; }

.nice-check.nice-check-sm:not(:checked) + label,
.nice-check.nice-check-sm:checked + label {
  min-height: 15px;
  line-height: 15px;
  padding-left: 23px;
  position: relative; }
  .nice-check.nice-check-sm:not(:checked) + label:before,
  .nice-check.nice-check-sm:checked + label:before {
    width: 15px;
    height: 15px; }
  .nice-check.nice-check-sm:not(:checked) + label:after,
  .nice-check.nice-check-sm:checked + label:after {
    line-height: 15px;
    left: 1px; }

.nice-check.nice-check-sm:checked + label:after {
  opacity: 1;
  transform: scale(0.8); }

.nice-check:checked[type="checkbox"] + label:before, .nice-check:not(:checked)[type="checkbox"] + label:before {
  border-radius: 0; }

.icon {
  display: inline-block; }
  .icon.icon-arrow-down {
    width: 15px;
    height: 8px;
    background: url("../images/icon/chevron-down.png") 0 0/100% 100% no-repeat; }
  .icon.icon-gift {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-gift.png") center/auto auto no-repeat; }
  .icon.icon-bed {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-bed.png") center/auto auto no-repeat; }
  .icon.icon-people {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-people.png") center/auto auto no-repeat; }
  .icon.icon-briefcase {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-briefcase.png") center/auto auto no-repeat; }
  .icon.icon-chart {
    width: 15px;
    height: 15px;
    background: url("../images/icon/icon-chart.png") center/auto auto no-repeat; }
  .icon.icon-globe {
    width: 17px;
    height: 17px;
    background: url("../images/icon/icon-globe-blue.png") center/100% 100% no-repeat; }
  .icon.icon-globe-disabled {
    width: 17px;
    height: 17px;
    background: url("../images/icon/icon-globe.png") center/100% 100% no-repeat; }

.btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 35px;
  padding: 8px 15px;
  border-radius: 5px; }
  .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

a {
  color: #0095FF;
  text-decoration: underline; }
  a.btn {
    text-decoration: none; }

button, button:focus, button:active, a, a:focus, a:active {
  outline: none !important; }

.btn-info {
  background-color: #0095FF;
  border: none; }
  .btn-info:hover, .btn-info:active, .btn-info:hover:active, .btn-info:focus {
    background-color: #0077cc; }

.btn-gray {
  background-color: #777777;
  color: #fff;
  border: none; }
  .btn-gray:hover, .btn-gray:active, .btn-gray:hover:active, .btn-gray:focus {
    background-color: #5e5e5e;
    color: #fff; }

.form-control, .nice-select, .input-group {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 30px;
  color: #333;
  font-size: 12px;
  -webkit-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -moz-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -ms-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  -o-box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset;
  box-shadow: 0 2px 3px rgba(224, 224, 224, 0.5) inset; }

.form-horizontal:last-child {
  margin-bottom: 0; }

.form-horizontal .form-group {
  margin-left: -5px;
  margin-right: -5px; }
  .form-horizontal .form-group > [class*="col"] {
    padding-left: 5px;
    padding-right: 5px; }
  .form-horizontal .form-group:last-child {
    margin-bottom: 0; }

.form-horizontal .control-label {
  font-size: 13px;
  font-weight: 400;
  text-align: left; }
  .form-horizontal .control-label.text-center {
    text-align: center; }
  .form-horizontal .control-label.text-right {
    text-align: right; }
  .form-horizontal .control-label small {
    display: block;
    margin-top: 5px; }

select.nice-select {
  display: none; }

.nice-select {
  padding-left: 12px;
  line-height: 28px;
  width: 100%;
  float: none; }
  .nice-select:after {
    width: 15px;
    height: 8px;
    top: 11px;
    margin: 0;
    border: none;
    transform-origin: 50% 50%;
    background: url("../images/icon/icon-arrow-down-dark.png") 0 0/100% 100% no-repeat;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .nice-select.open:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .nice-select .option {
    min-height: 30px;
    line-height: 30px; }
    .nice-select .option.selected {
      font-weight: 400; }

.image-dd {
  min-width: 50px; }

.dd {
  width: 50px !important;
  border: none;
  cursor: pointer; }
  .dd:focus {
    outline: none; }
  .dd .ddTitle {
    background: none; }
    .dd .ddTitle .ddlabel, .dd .ddTitle .description {
      display: none; }
    .dd .ddTitle .ddTitleText {
      padding: 0;
      display: inline-block;
      border-radius: 2px;
      overflow: hidden;
      border: 1px solid rgba(47, 52, 58, 0.1); }
      .dd .ddTitle .ddTitleText img {
        padding: 0; }
  .dd .divider {
    display: none; }
  .dd .ddArrow {
    width: 15px;
    height: 8px;
    margin-top: -4px;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background: url("../images/icon/icon-arrow-down-dark.png") 0 0/100% 100% no-repeat; }
  .dd.borderRadiusTp .ddArrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .dd .ddChild {
    height: auto !important;
    top: 21px !important;
    left: -5px; }
    .dd .ddChild li {
      border: none;
      cursor: pointer; }

.input-group {
  padding: 4px 15px; }
  .input-group input {
    border: none;
    display: table-cell;
    width: 100%;
    padding-left: 15px;
    height: 20px; }
    .input-group input:focus {
      outline: none; }

.btn-inline {
  min-width: 100px; }
  .btn-inline.btn {
    padding-left: 30px;
    padding-right: 30px; }

.btn-inline + .btn-inline {
  margin-left: 20px; }

.btn-file {
  display: inline-block;
  position: relative; }
  .btn-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }

.required:after {
  content: '*';
  color: #FC665C; }

.required-pre:before {
  content: '*';
  color: #FC665C;
  display: inline-block;
  margin-right: 3px; }

.form-control.icon-left, .icon-left.nice-select, .icon-left.input-group {
  padding-left: 32px; }
  .form-control.icon-left.date-picker, .icon-left.date-picker.nice-select, .icon-left.date-picker.input-group {
    background: url("../images/icon/icon-calendar.png") 9px 50%/auto 12px no-repeat; }
  .form-control.icon-left.time-picker, .icon-left.time-picker.nice-select, .icon-left.time-picker.input-group {
    background: url("../images/icon/icon-time.png") 9px 50%/auto 14px no-repeat; }

/* Tables */
.table {
  font-size: 13px; }
  .table > thead > tr > td {
    background-color: #efefef;
    font-size: 11px;
    font-weight: normal; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 13px; }

#main {
  padding-top: 60px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

table {
  font-size: 13px; }

section {
  padding: 30px 0; }

.heading {
  margin-bottom: 30px; }
  .heading h2,
  .heading a {
    display: inline-block;
    vertical-align: middle; }
  .heading h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0; }
  .heading a {
    float: right; }

.row.space-10 {
  margin-left: -5px;
  margin-right: -5px; }
  .row.space-10 > [class*="col"] {
    padding-left: 5px;
    padding-right: 5px; }

.row.space-20 {
  margin-left: -10px;
  margin-right: -10px; }
  .row.space-20 > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px; }

.img-responsive {
  width: 100%; }

.hide-md {
  display: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-gray {
  color: #AAA; }

.text-default {
  color: #777777; }

.tag {
  display: inline-block;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 11px;
  padding: 1px 5px;
  text-transform: uppercase; }
  .tag.tag-default {
    border-color: #777777;
    color: #777777; }
  .tag.tag-success {
    border-color: #0cBA80;
    color: #0cBA80; }
  .tag.tag-warning {
    border-color: #FF8303;
    color: #FF8303; }

small {
  font-size: 11px;
  color: #777777; }

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.panel-transparent {
  border: 1px solid #e0e0e0; }
  .panel-transparent .panel-heading {
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 15px; }
    .panel-transparent .panel-heading h4 {
      margin: 0;
      color: #777777; }

.nice-select .list {
  max-height: 300px;
  overflow: auto; }

#main {
  position: relative; }

@media (max-width: 992px) {
  body {
    font-size: 13px; }
  .hide-md {
    display: block; }
  .hide-sm {
    display: none; } }

header {
  -webkit-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  -o-box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  box-shadow: 0 2px 5px rgba(85, 85, 85, 0.5);
  width: 100%;
  z-index: 1;
  background-color: #fff; }
  header .logo {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
    display: block;
    position: relative;
    padding: 10px 15px; }
    header .logo img {
      height: 100%;
      width: auto; }
  header .logo-sub {
    color: #777;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 10px;
    position: relative; }
    header .logo-sub:hover, header .logo-sub:active, header .logo-sub:focus {
      text-decoration: none; }
    header .logo-sub img, header .logo-sub span {
      display: inline-block;
      vertical-align: middle; }
    header .logo-sub img {
      margin-right: 15px; }
    header .logo-sub strong {
      display: block; }
    header .logo-sub:after {
      content: '';
      display: block;
      width: 15px;
      height: 8px;
      position: absolute;
      top: 25px;
      right: 0;
      background: url("../images/icon/icon-arrow-down-dark.png") center/100% 100% no-repeat; }

.navbar-form {
  padding: 13px 15px;
  margin: 0; }
  .navbar-form .form-group, .navbar-form .form-control, .navbar-form .nice-select, .navbar-form .input-group {
    width: 100%;
    border-radius: 30px; }

#sidebar {
  width: 200px;
  background-color: #162A3e;
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 9; }
  #sidebar li {
    list-style-type: none; }
  #sidebar a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    #sidebar a:hover, #sidebar a:active, #sidebar a:focus {
      text-decoration: none; }
  #sidebar .main-menu {
    padding: 0; }
    #sidebar .main-menu .icon {
      left: 12px; }
    #sidebar .main-menu > li > a {
      padding: 10px 40px;
      display: block;
      font-weight: 500;
      position: relative;
      font-size: 11px;
      color: #fff;
      text-decoration: none; }
      #sidebar .main-menu > li > a:hover, #sidebar .main-menu > li > a:active, #sidebar .main-menu > li > a:focus {
        text-decoration: none; }
    #sidebar .main-menu > li > a:hover,
    #sidebar .main-menu > li > a:active,
    #sidebar .main-menu > li > a:focus,
    #sidebar .main-menu > .active > a {
      background-color: #005CAF;
      font-weight: 600; }
  #sidebar .sub-menu > a:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    top: 13px;
    right: 10px;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background: url("../images/icon/icon-arrow-down-light.png") center/100% 100% no-repeat; }
  #sidebar .sub-menu.toggled > a:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #sidebar .child-menu {
    background-color: #202D39;
    padding: 10px 0;
    display: none; }
    #sidebar .child-menu > li > a {
      padding: 8px 20px 8px 40px;
      display: block;
      color: #AAA; }
    #sidebar .child-menu > li > a:hover,
    #sidebar .child-menu > li > a:active,
    #sidebar .child-menu > li > a:focus,
    #sidebar .child-menu > .active > a {
      color: #fff;
      font-weight: 600; }

#content {
  padding-left: 200px; }
  #content .content-header {
    padding-left: 20px; }

.breadcrumb {
  background-color: transparent;
  padding: 0 20px; }
  .breadcrumb > li + li:before {
    content: '>';
    color: #777777; }
  .breadcrumb a {
    color: #777777;
    text-decoration: none; }
    .breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:focus {
      text-decoration: none; }
  .breadcrumb > .active {
    font-weight: bold; }

.step-group {
  text-align: center;
  margin-bottom: 30px; }
  .step-group ul {
    margin: 0;
    padding: 0; }
    .step-group ul li {
      display: inline-block;
      position: relative; }
    .step-group ul li + li {
      padding-left: 50px; }
      .step-group ul li + li:before {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background-color: #AAA;
        position: absolute;
        top: 48%;
        left: 0; }
    .step-group ul .btn {
      border-radius: 30px;
      border: 1px solid #0095FF;
      color: #0095FF;
      padding: 7px 20px;
      text-decoration: none; }
    .step-group ul .active .btn {
      background-color: #0095FF;
      color: #fff;
      font-weight: 700; }
    .step-group ul .active ~ li .btn {
      border-color: #AAA;
      color: #AAA; }

.dataTables_wrapper > .row:not(:nth-child(2)) > [class*="col-"] {
  padding: 20px; }

.dataTables_wrapper > .row:nth-child(2) > [class*="col-"] {
  padding: 0; }

table.dataTable {
  width: 100% !important; }

/* Panel */
.panel-trans-body > .panel + .panel {
  margin-top: -1px; }

.panel-trans-body > .panel {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .panel-trans-body > .panel > .panel-heading {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 16px 45px; }
    .panel-trans-body > .panel > .panel-heading + .panel-collapse > .panel-body {
      border: none; }
    .panel-trans-body > .panel > .panel-heading .panel-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 1; }
    .panel-trans-body > .panel > .panel-heading > .panel-title > a {
      color: #777777;
      text-decoration: none;
      position: relative; }
      .panel-trans-body > .panel > .panel-heading > .panel-title > a:hover, .panel-trans-body > .panel > .panel-heading > .panel-title > a:active, .panel-trans-body > .panel > .panel-heading > .panel-title > a:focus {
        text-decoration: none; }
      .panel-trans-body > .panel > .panel-heading > .panel-title > a:after {
        content: '';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #005CAF;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        left: -25px; }
      .panel-trans-body > .panel > .panel-heading > .panel-title > a.collapsed:after {
        -webkit-transform: translateY(-50%) rotate(90deg);
        -moz-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        -o-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg); }
    .panel-trans-body > .panel > .panel-heading .nice-check-item {
      width: 150px;
      float: right; }
  .panel-trans-body > .panel > .panel-collapse > .panel-body {
    padding: 30px 80px; }
  .panel-trans-body > .panel.disabled .panel-heading {
    background-color: #eee; }
    .panel-trans-body > .panel.disabled .panel-heading,
    .panel-trans-body > .panel.disabled .panel-heading a {
      cursor: not-allowed; }

.panel-trans-body.panel-static > .panel .panel-heading {
  background-color: #fff;
  padding: 16px 50px 16px 20px; }
  .panel-trans-body.panel-static > .panel .panel-heading > .panel-title {
    color: #777777; }

/* Tables */
.table.tbl-release-rule {
  white-space: nowrap; }
  .table.tbl-release-rule .nice-check-item.row-check {
    display: inline-block;
    vertical-align: middle; }
    .table.tbl-release-rule .nice-check-item.row-check .nice-check + label {
      margin-bottom: 0;
      font-weight: 400; }
    .table.tbl-release-rule .nice-check-item.row-check + small {
      display: inline-block;
      line-height: 15px;
      vertical-align: middle; }
    .table.tbl-release-rule .nice-check-item.row-check + .sub {
      margin-top: 5px;
      padding-left: 23px; }
  .table.tbl-release-rule .room-release-amount {
    width: 50px; }
  .table.tbl-release-rule .room-release-unit {
    width: 90px;
    margin-left: 20px;
    float: none;
    display: inline-block; }

.table.tbl-event-dates-preview {
  margin-bottom: 0; }
  .table.tbl-event-dates-preview > tbody > tr > td, .table.tbl-event-dates-preview > tbody > tr > th {
    border: none;
    padding: 0;
    line-height: 2; }

.tbl-attachments-preview tr:not(:last-child) td {
  padding-bottom: 15px; }

.tbl-attachments-preview td:first-child {
  padding-right: 40px; }
